//VARIABLES
$myFont: "Dosis", sans-serif;

$myBlack: #393d42;
$myDarkGrey: #64738c;
$myGrey: #9fa3a9;
$myMediumGrey: rgb(210, 210, 210);
$myLightGrey: rgb(238, 238, 238);
$myWhite: whitesmoke;
$myBlue: #357fb2;
$myDarkBlue: #1a6699;
$myGreen: #8ac166;
$myDarkGreen: #53ab3c;

$lightShadow: 0 0 1em $myLightGrey;
$commonShadow: 0 0 1em $myGrey;
$darkShadow: 0 0em 1em $myBlack;
$darkerShadow: 0 0em 1em black;

//***********************
//ALL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $myWhite;
    font-size: 16px;
    font-family: $myFont;
    color: $myBlack;
    overflow-x: hidden;
}

::selection {
    background-color: $myDarkBlue;
    color: $myWhite;
}

::-webkit-scrollbar {
    width: 0.75em;
    background-color: $myWhite;
}

::-webkit-scrollbar-track {
    background-color: $myWhite;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5em;
    background-color: $myBlue;

    &:hover {
        background-color: $myDarkBlue;
    }
}

.goTopArrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3em;
    border-radius: 50%;
}

.goTopButton {
    z-index: 3;
    position: fixed;
    bottom: 2em;
    right: 2em;

    background-color: $myMediumGrey;
    border: $myMediumGrey solid 0.125em;
    border-radius: 50%;
    box-shadow: $darkShadow;

    transition: all 0.2s ease;

    &:hover {
        background-color: $myWhite;
        border: $myWhite solid 0.125em;
        border-radius: 50%;
    }
}

//***********************
//HEADER
header {
    z-index: 3;
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 13vh;
    padding: 1.5em 8em 1.5em 8em;

    background-color: $myWhite;
    box-shadow: $commonShadow;
}

header .menuH {
    display: none;
}

header .brand {
    width: 20em;
    transition: all 0.3s ease;

    img {
        width: 100%;
    }

    &:hover {
        transform: scale(1.025);
    }
}

header nav ul {
    list-style-type: none;

    display: flex;
    gap: 4em;

    li {
        a {
            text-decoration: none;
            color: $myBlue;
            font-size: 1.5rem;

            &:hover {
                text-decoration: none;
                font-weight: bold;
                color: $myDarkBlue;
            }
        }

        .green {
            border-radius: 50px;
            padding: 0.3em 0.5em 0.3em 0.5em;

            color: $myWhite;
            background-color: $myGreen;
            transition: all 0.2s ease;

            &:hover {
                font-weight: normal;
                color: $myWhite;
                background-color: $myDarkGreen;
            }
        }
    }
}

//MAIN
h1 {
    text-align: center;
    margin-bottom: 0.9em;

    font-size: 4.5rem;
    color: $myGreen;

    &.blue {
        color: $myBlue;
    }
}

//***********************
//SLIDER
.slider {
    position: relative;
    overflow: hidden;
    height: 87vh;

    box-shadow: $commonShadow;

    .container {
        width: calc(100% * 6);
        height: 92%;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        transition: all 0.5s ease;
        transform: translateX(0%);

        img {
            width: calc(100% / 6);
            height: 100%;
            object-fit: contain;
        }
    }

    .flechas {
        position: absolute;
        top: 0;

        width: 100%;
        height: 92%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .flecha {
            width: 2.5em;
            opacity: 0.8;
            transition: all 0.2s ease;

            &.I {
                margin-left: 5em;
            }

            &.D {
                margin-right: 5em;
            }

            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    .puntos {
        width: 100%;
        height: 8%;

        list-style-type: none;
        background-color: $myDarkGrey;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        .punto {
            z-index: 1;
            width: 1em;
            height: 1em;
            margin: 1em;

            border-radius: 50%;
            box-shadow: $darkerShadow;
            transition: all 0.2s ease;

            &:hover {
                cursor: pointer;
                background-color: $myGrey;
            }
        }

        .punto.activo {
            background-color: $myGreen;
            box-shadow: 0 0 1em $myDarkGreen;

            transition: all 0.5s ease;
            transform: scale(1.2);
        }
    }
}

//***********************
//MÓDULOS
.modulos {
    margin-top: 15vh;

    .cards {
        width: 90%;
        margin: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 3em;
    }
}

.card {
    position: relative;
    width: 16em;
    height: 20em;

    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        padding: 1.5em;
        border-radius: 10px;
        box-shadow: $commonShadow;
        transition: all 0.5s ease;
    }

    .front {
        transform: perspective(1000px) rotateY(0deg);
        background-color: $myWhite;

        align-items: center;
        justify-content: space-around;

        img {
            width: 60%;
        }

        h2 {
            text-align: center;
            font-size: 2rem;
            color: $myDarkGrey;
        }
    }

    .back {
        transform: perspective(1000px) rotateY(180deg);
        background-color: $myDarkGrey;

        align-items: flex-start;
        justify-content: flex-start;

        p {
            font-size: 1.05rem;
            color: $myWhite;

            span {
                margin-right: 0.2em;
                color: $myGreen;
            }
        }
    }

    &:hover .front {
        transform: perspective(1000px) rotateY(180deg);
    }

    &:hover .back {
        transform: perspective(1000px) rotateY(360deg);
    }
}

//***********************
//NOSOTROS
.nosotros {
    margin-top: 15vh;
    padding: 15vh 0 2vh 0;
    background-color: $myLightGrey;

    .boards {
        width: 90%;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
}

.board {
    position: relative;

    width: 90%;
    height: 12em;
    overflow: hidden;

    box-shadow: $commonShadow;
    border-radius: 10px;

    .cover {
        z-index: 2;
        position: absolute;
        left: 0;

        width: 100%;
        height: 100%;
        background-color: $myWhite;
        padding: 2em;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;

        h2 {
            font-size: 2.5rem;
            color: $myDarkGrey;
            text-align: center;
        }
    }

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: $myGreen;

        &.blue {
            background-color: $myBlue;
        }

        .board-img {
            z-index: 1;
            width: 30%;
            height: 100%;
            overflow: hidden;
            box-shadow: $darkShadow;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .board-text {
            width: 70%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;

            &::-webkit-scrollbar {
                background-color: $myGreen;
            }

            &::-webkit-scrollbar-track {
                background-color: $myGreen;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $myWhite;

                &:hover {
                    background-color: $myMediumGrey;
                }
            }

            p {
                font-size: 1.3rem;
                color: $myWhite;
                text-align: center;
                padding: 1em 2em 1em 2em;
            }

            &.right {
                direction: rtl;

                p {
                    direction: ltr;
                }

                &::-webkit-scrollbar {
                    background-color: $myBlue;
                }

                &::-webkit-scrollbar-track {
                    background-color: $myBlue;
                }
            }
        }
    }

    &:hover :first-child {
        left: -100%;
    }

    &.right:hover :first-child {
        left: 100%;
    }
}

//***********************
//CONTACTANOS
.contactanos {
    padding-top: 13vh;
    background-color: $myLightGrey;
}

.contacto {
    height: 87vh;

    display: flex;
    align-items: center;

    .redes,
    .mail {
        width: 50%;
        height: 100%;
        padding-top: 13vh;

        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            text-align: center;
            margin-bottom: 5vh;

            font-size: 3.5rem;
            color: $myDarkGrey;
        }
    }

    .redes {
        background-color: $myWhite;

        ul {
            list-style-type: none;

            li {
                font-size: 2rem;
                margin-bottom: 1em;
                transition: all 0.3s ease;

                a {
                    display: flex;
                    align-items: center;

                    text-decoration: none;
                    color: $myDarkGrey;

                    img {
                        width: 1.5em;
                        margin-right: 1em;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .mail {
        background-color: $myLightGrey;

        form {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5em;

            .fix {
                width: 40%;
                height: 8em;
                overflow: hidden;
                border-radius: 5px;
            }

            .cell {
                height: 2.5em;
                width: 40%;

                &::-webkit-scrollbar-thumb {
                    background-color: $myDarkGrey;

                    &:hover {
                        background-color: $myDarkBlue;
                    }
                }

                outline: none;
                border: none;
                border-radius: 5px;
                background-color: $myWhite;
                padding-left: 1em;
                padding-right: 1em;

                font-family: $myFont;
                font-size: 1.1rem;
                color: $myDarkGrey;
                transition: all 0.2s ease;

                &.msg {
                    resize: none;
                    width: 100%;
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;

                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                }

                &:focus {
                    background-color: $myDarkGrey;
                    color: $myWhite;

                    &::placeholder {
                        color: $myMediumGrey;
                    }

                    &::-webkit-scrollbar {
                        background-color: $myDarkGrey;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: $myDarkGrey;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: $myWhite;

                        &:hover {
                            background-color: $myMediumGrey;
                        }
                    }
                }
            }

            .submit {
                width: 5em;
                height: 2.5em;
                margin-top: 1em;

                background-color: $myDarkGrey;
                border-style: none;
                border: none;
                border-radius: 5px;

                font-family: $myFont;
                font-size: 1.1rem;
                color: $myWhite;
                transition: all 0.2s ease;

                &:hover {
                    background-color: $myDarkBlue;
                    cursor: pointer;
                }
            }
        }
    }
}

::placeholder {
    color: $myGrey;
}

//***********************
//FOOTER
footer {
    background-color: $myGrey;
    box-shadow: $commonShadow;
}

.creator {
    padding-top: 3em;
    margin-bottom: 1.8em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.creator h3 {
    margin-right: 2em;

    font-size: 1.3rem;
    color: $myBlack;

    span {
        margin-left: 0.3em;
        transition: all 0.2s ease;

        &:hover {
            color: $myDarkBlue;
            text-shadow: 0 0 0.5em $myBlue;
        }
    }
}

.creator ul {
    list-style-type: none;
    display: flex;
    gap: 1.25em;

    li {
        a {
            display: flex;
            border-radius: 50%;
            box-shadow: $darkShadow;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.1);
                background-color: $myDarkGreen;
                box-shadow: none;
                filter: drop-shadow(0 0 0.5em $myDarkGreen);
            }

            img {
                width: 2.8em;
            }
        }
    }
}

.copy {
    padding-bottom: 2.5em;

    font-size: 1.2rem;
    text-align: center;
    color: $myBlack;
}

//***********************
//MEDIA QUERIES
@media screen and (max-width: 1365px) {
    .contacto {
        .redes,
        .mail {
            padding-top: 0;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 1279px) {
    header {
        height: 10em;
        flex-direction: column;
        gap: 1em;
    }

    .slider {
        height: 73.5vh;
    }

    .modulos {
        margin-top: 11em;
    }

    .nosotros {
        margin-top: 11em;
        padding-top: 11em;
        padding-bottom: 0;
    }

    .contactanos {
        padding-top: 10em;
    }

    .contacto {
        .mail {
            form {
                .fix {
                    width: 60%;
                }

                .cell {
                    width: 60%;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .slider {
        height: 60vh;

        .container {
            height: 88%;
        }

        .puntos {
            height: 12%;
        }
    }

    .contacto {
        flex-direction: column;
        height: auto;

        .redes,
        .mail {
            width: 100%;
            height: 50%;
            padding: 5em;
        }
    }
}

@media screen and (max-width: 800px) {
    .board {
        height: 25em;

        .cover {
            top: 0;
        }

        .content {
            flex-direction: column;

            .board-img {
                width: 100%;
                height: 40%;
            }

            .board-text {
                width: 100%;
                height: 60%;
            }
        }

        &:hover :first-child {
            left: 0;
            top: -100%;
        }

        &.right:hover :first-child {
            left: 0;
            top: 100%;
        }
    }
}

@media screen and (max-width: 667px) {
    header {
        height: 7em;
        flex-direction: row;
        justify-content: center;
        gap: 0;
        padding: 0;

        .menuH {
            display: flex;
            width: 2.5em;
            margin-left: 3em;
            opacity: 0.5;

            &:hover {
                cursor: pointer;
            }
        }

        nav ul {
            position: absolute;
            top: 0;
            left: -100%;

            flex-direction: column;
            align-items: center;
            gap: 1em;

            background-color: $myWhite;
            padding: 2em;
            border-radius: 10px;
            box-shadow: $commonShadow;
            transition: all 0.5s ease;
        }
    }

    .slider {
        height: 50vh;

        .flechas {
            .flecha {
                &.I {
                    margin-left: 2em;
                }

                &.D {
                    margin-right: 2em;
                }
            }
        }
    }

    .modulos {
        margin-top: 8em;
    }

    .nosotros {
        margin-top: 8em;
        padding-top: 8em;
    }

    .contactanos {
        padding-top: 7em;
    }

    .contacto {
        .mail {
            form {
                .fix {
                    width: 80%;
                }

                .cell {
                    width: 80%;
                }
            }
        }
    }

    footer {
        .creator {
            flex-direction: column;
            gap: 1em;

            h3 {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    header {
        .brand {
            width: 15em;
        }
    }

    .contacto {
        .redes {
            ul li {
                font-size: 1.5rem;
            }
        }

        .mail {
            form {
                .fix {
                    width: 100%;
                }

                .cell {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    header {
        .menuH {
            margin-left: 1em;
        }
    }

    .slider {
        height: 40vh;

        .flechas {
            .flecha {
                &.I {
                    margin-left: 1em;
                }

                &.D {
                    margin-right: 1em;
                }
            }
        }
    }
}
